/* Para cuadrar todas las ventanas en el navegador */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* ---------------------------------------------------------------------- */
/*----------------------------Bloque de Header general------------------- */
/* ---------------------------------------------------------------------- */
#container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 100vw;
    height: 5rem;
    
    background-color: red;
    
}


.container-header-up{
    width: 100vw;
    height: 2.5rem;
    
    background-color: orange;
    
}

.container-header-down{
    width: 100vw;
    height: 2.5rem;
    
    background-color: rgb(121, 79, 2);
    
}



/* ---------------------------------------------------------------------- */
/* ----------------------------Bloque de MAIN---------------------------- */
/* ---------------------------------------------------------------------- */
#container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: 100vw;
    height: 70vh;

    background-color: greenyellow;
}

.container-main-filters{
    width: 100vw;
    height: 15vh;

    background-color: blue;
}

.container-main-article{
    width: 100vw;
    height: calc(15vh - 70vh);

    background-color: blueviolet;
}




/* ---------------------------------------------------------------------- */
/* ----------------------------Bloque de FOOTER---------------------------- */
/* ---------------------------------------------------------------------- */
#container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100vw;
    height: 5rem;

    background-color: purple;
}

.container-footer-menu-bassic{
    width: 100vw;
    height: 5rem;

    background-color: aqua;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}