/* Para cuadrar todas las ventanas en el navegador */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Bloque entero de estructura */
#structure-main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

/* Encabezado general */
#container-head{
    /* width: 100vw;
    height: 5rem; */
    display: none;
    background-color: yellow;
}

/* Bloque de arriba de encabezado */
#container-head-up{
    width: 50vw;
    height: 3rem;
    background-color: green;
}

/* Bloque de abajo de encabezado */
#container-head-down{
    width: 50vw;
    height: 20vh;
    background-color: greenyellow;
}

/* Bloque donde va a estar el contenido, principalmente articles */
#container-content{
    /* width: 20vw;
    height: 100vh; */
    display: none;
    background-color: rgb(100, 134, 49);
}

/* Bloque de artículos, que va a contener un menú */
#container-content-menu{
    width: 20vw;
    height: 100vh;
    background-color: orange;
}

/* Bloque del contenido de los artículos */
#container-content-article{
    width: 20vw;
    height: 100vh;
    background-color: blue;
}

/* Bloque del footer general */
#container-footer{
    width: 20vw;
    height: 100vh;
    background-color: purple;
}

/* Bloque del footer, el cuál contendrá información,  */
#container-footer-left{

    background-color: brown;
}

/* Bloque del footer, que va a tener o un mini menú o subir */
#container-footer-middle{
    width: 20vw;
    height: 100vh;
    background-color: burlywood;
}

/* Bloque del footer, */
#container-footer-right{
    width: 20vw;
    height: 100vh;
    background-color: rebeccapurple;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}